#userF {
    height: fit-content;
    width: fit-content;
    text-align: center;
    border-style: inset;
    position: relative;
    top:60px;
    right:-85px;
    border-color: khaki;

}

#passF {
    height: fit-content;
    width: fit-content;
    text-align: center;
    border-style: inset;
    position: relative;
    border-color: khaki;
    top:55px;
    right:-85px;

}

.loginCard {
    width: 400px;
    height: 400px;
    position: absolute;
    text-align: center;
    font-size: 35px;
    background-color: white;
    color: black;
    top: 200px;
    left: 760px;
    border-style: double;
    border-color: brown;
    border-radius: 2cm;
    font-size: 25px;

}

#subBut {
    top: 50px;
    position: relative;
}