#ReviewContainer {
    position: relative;
    left: 200px;
    width: 700px;
    height: fit-content;
    border: blueviolet;
    border-style: inset;
    background-color: cornflowerblue;
    text-align: center;
    font-family: cursive;
    font-size: 15px;
}

.reviewCard {
    border-style: inset;
    border-width: 10px;
    margin-top: 10px;
    background-color:mediumpurple ;
    border:maroon;
}

.notesfield {
    width: 500px;
    height: 200px;
}

.rButtonClass {
    width: fit-content;
    height: 25px;
}